.logo {
  width: 60px;
  height: 50px;
}

.navbar {
  background: #20201f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 100px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
}

.navigation__text {
  position: relative;
}

.link {
  text-decoration: none;

  &:hover {
    color: #d1bb67;
    transition: color 0.3s ease-in-out;
  }
}

.is-active {
  color: #d1bb67;
  transition: color 0.3s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px; // трохи нижче тексту
    width: 100%;
    height: 3px;
    background-color: #d1bb67;
  }
}
