.benefits__list {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 50px 20px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

@media (min-width: 800px) {
  .benefits__list {
    width: 800px;
  }
}

@media (min-width: 1480px) {
  .benefits__list {
    width: 1500px;
  }
}


.benefits_component {
  list-style: none;
  width: 300px;
  height: 500px;
  background-color: #20201f;
  border-radius: 10px;
  box-sizing: content-box;
  border: 2px solid #d1bb67;
  cursor: pointer;

  &:hover {
    scale: 1.1;
    transition: scale 0.3s ease-in-out;
  }
}

.benefits_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  width: 270px;
  height: 300px;
}

.component_title {
  display: flex;
  justify-content: center;
  color: white;
}

.component_text {
  text-indent: 1em;
  padding: 0 20px;
  color: white;
}
