.container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 20px;
  justify-content: center;
  list-style: none;
}

.schedule__title {
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.card {
  background-color: #20201f;
  border-radius: 10px;
  position: relative;
  width: 350px;
  height: 550px;
}

.card__image {
  border-radius: 10px;
  margin: auto;
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &::after {
    margin: auto;
    content: "";
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    height: 120px; /* наскільки висока тінь */
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
  }

}

.card__title {
  height: 50px;
  text-align: center;
}

.card__text {
  padding: 0 20px;
  height: 90px;
  text-indent: 5px;
  color: grey;
}

.sesion__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sesion {
  font-size: 20px;
  border-radius: 5px;
  width: 150px;
  height: 60px;
  box-sizing: border-box;
  border: 4px solid #d1bb67;
  background-color: transparent;
  cursor: pointer;
}

.sesion-2 {
  background-color: #d1bb67;
  color: #000;
}



