.slider {
  margin: auto;
  margin-top: 50px;
  position: relative;
  background-color: #20201f;
  width: 800px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.slider__title {
  width: 50%;
  margin: 0;
  text-align: center;
  font-size: 70px;
  padding-top: 50px;
}

.gif-animation {
  width: 350px;
  margin-top: 75px;
}

.slider__image {
  width: 150px;
  height: 150px;
}

.slider__image-side-1 {
  position: absolute;
  top: -80px;
  left: -50px;
  rotate: 45deg;
}

.slider__image-side-2 {
  position: absolute;
  bottom: -50px;
  right: -70px;
  rotate: 45deg;
}

.slider__image-side-3 {
  position: absolute;
  top: -50px;
  right: -100px;
}

.slider__image-side-4 {
  position: absolute;
  bottom: -50px;
  left: -70px;
  rotate: 45deg;
}

.slider__button {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #e6312b;
  font-size: 20px;
  font-weight: 800;
  margin-top: 30px;
  margin-left: 100px;
  cursor: pointer;
}

.title-before-benefits {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 50px;
}
