.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cinema-title {
  margin-top: 20px;
  margin-bottom: 50px;
}

.cinema-image {
  width: 200px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.cinema-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 200px;
  background-color: transparent;
  box-sizing: border-box;
  border: 3px solid #20201f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 600px;
}

.cinema-name {
  color: white;
  font-size: 40px;
}
